<div *ngIf="historical_data" style='height:300px; overflow:scroll'>
  <table class="table table-striped">
    <thead><tr><th colspan=2>Historical Data</th></tr></thead>
    <thead>
      <tr>
        <th>Period</th>
        <th>Value in EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of historical_data">
        <td>{{entry[0]}}</td>
        <td>{{entry[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="moving_average" style='height:300px; overflow:scroll'>
  <table class="table table-striped">
    <thead><tr><th colspan=2>Moving Average</th></tr></thead>
    <thead>
      <tr>
        <th>Period</th>
        <th>Value in EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of moving_average">
        <td>{{entry[0]}}</td>
        <td>{{entry[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="mom" style='height:300px; overflow:scroll'>
  <table class="table table-striped">
    <thead><tr><th colspan=2>Month over Month</th></tr></thead>
    <thead>
      <tr>
        <th>Period</th>
        <th>Value in EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of mom">
        <td>{{entry[0]}}</td>
        <td>{{entry[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="yoy" style='height:300px; overflow:scroll'>
  <table class="table table-striped">
    <thead><tr><th colspan=2>Year over Year</th></tr></thead>
    <thead>
      <tr>
        <th>Period</th>
        <th>Value in EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of yoy">
        <td>{{entry[0]}}</td>
        <td>{{entry[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>