<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Interview webapp for logindex</span>
        </div>
    </div>
</nav>
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm text-center"><app-data-selector></app-data-selector></div>
    </div>
    <div class="row">
      <div class="col">
        <ngb-tabset>
          <ngb-tab title="Raw data">
            <ng-template ngbTabContent>
              <app-historical-data-raw-viewer></app-historical-data-raw-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Charts">
            <ng-template ngbTabContent>
              <app-chart></app-chart>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>