<div>
  <div echarts [options]="monthly_chart_option" class="demo-chart"></div>
  <div echarts [options]="mom_chart_option" class="demo-chart"></div>
  <div echarts [options]="yoy_chart_option" class="demo-chart"></div>
</div>
