<div class="d-inline mx-2">
  <label>Select country code
    <select [(ngModel)]="current_code" (change)="getTradeTypes($event.target.value)">
      <option *ngFor="let country_code of country_codes" [value]="country_code">{{country_code}}</option>
    </select>
  </label>
</div>
<div class="d-inline mx-2">
  <label>Select trade type
    <select [(ngModel)]="current_trade_type" (change)="announce()">
      <option *ngFor="let trade_type of trade_types" [value]="trade_type">{{trade_type}}</option>
    </select>
  </label>
</div>